body{

    background-image:url("weather.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}

h1{
    color:white;
    text-align: center;

}

aside{

background-color: rgb(107, 233, 227);

}